@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid $basic-light-grey;
  grid-template-rows: 1fr;
  align-items: center;

  min-height: 7vh;
  max-height: 7vh;
  padding: 0 1rem;

  .profile {
    height: 4vh;
  }
  img {
    height: 100%;
    width: auto;
  }

  .options {
    justify-self: end;
    button {
      padding: 0.5rem 1.5rem;
      margin-left: 10px;

      border-radius: 10px;

      cursor: pointer;
      font-weight: bold;
      border: none;
      background: none;
      &:hover {
        text-decoration: underline;
      }
      &:nth-child(3) {
        background: none;
        border: 1px solid $main;
        color: $main;
        &:hover {
          background: $main;
          color: $basic-white;
          text-decoration: none;
        }
      }
      &:last-child {
        background: $main;
        color: $basic-white;
        &:hover {
          background: $basic-white;
          color: $main;
          text-decoration: underline;
        }
      }
    }
  }
}
#article_composer {
  max-width: 900px;

  margin: 0 auto;
  margin-top: 2rem;
  position: relative;

  .header {
    h1,
    h3 {
      font-weight: bold;
      color: $basic-dark-red;
      font-size: 3vh;
      margin-bottom: 1.5rem;
      cursor: pointer;
    }
    h3 {
      font-size: 2.5vh;
    }
    .reading-time {
      color: $basic-light-grey;
      font-size: 12px;
      cursor: pointer;
      i {
        margin-right: 3px;
      }
    }
  }

  .composer-module {
    margin: 0 auto;

    height: 100%;

    margin-top: 2rem;
    position: relative;
    .add-element {
      border-radius: 50%;
      border: 2px solid $alert-yellow;
      height: 40px;
      width: 40px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $alert-yellow;
      font-weight: bold;
      font-size: 35px;
      left: -80px;
      top: 82px;
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.116);
    }

    .composer-header {
      background: $basic-white;
      padding: 1rem;
      filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.342));
      i {
        margin-right: 15px;
        cursor: pointer;
        z-index: 4;
        &:hover {
          font-weight: bold;
        }
      }
    }
    .text {
      filter: drop-shadow(0 1px 7px rgba(0, 0, 0, 0.342));
      max-width: 1200px;
      overflow-x: hidden;
    }
    textarea {
      margin-top: 10px;
      padding: 2rem;
      height: 100%;
      width: 100%;
      border: none;
      min-height: 60vh;
      border: 0.5px solid rgb(184, 184, 184);

      resize: vertical;
      &::placeholder {
        font-size: 16px;
      }
    }
  }

  .headings {
    z-index: 3;
    position: absolute;
    top: 90px;
    left: -10px;
    width: auto;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.342));
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    .single-heading {
      display: grid;
      grid-template-columns: 60px auto;
      grid-template-rows: repeat(1, 1fr);

      align-items: center;
      padding: 10px;
      padding-right: 5rem;
      cursor: pointer;
      position: relative;

      &:hover {
        border-radius: 10px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.582);
        background: rgb(255, 255, 255);
      }
      .box {
        height: 50px;
        width: 50px;
        background: $basic-white;
        border: 2px solid rgba(175, 175, 175, 0.74);
        border-radius: 10px;

        position: relative;
      }
      .texts {
        display: flex;
        flex-direction: column;
      }
    }
    h4 {
      margin-top: 1rem;
      color: $basic-light-grey;
      font-weight: bold;
      font-size: 14px;
      padding-left: 10px;
    }
    h5 {
      font-weight: bold;
      color: $basic-black;
      font-size: 18px;
      margin-bottom: 3px;
    }
    span {
      color: $basic-light-grey;
      font-size: 14px;
      letter-spacing: 0.4px;
    }
  }
  .go-back {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
