@use "variables";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 100px;
  height: 38px;
  margin-right: 17px;
  margin-bottom: 17px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  background: #ed7321;
  border-radius: 10px;
  img {
    height: 16px;
    margin-left: 5px;
  }
}
.header-wrapper {
  margin-top: 21px;
  margin-bottom: 30px;

  img {
    height: 16.25px;
    width: 17px;
  }
  #arrow-back {
    margin-top: 6px;
    margin-left: 18px;
    position: absolute;
    left: 0;
  }
  h1 {
    margin: auto;
    font-weight: 800;
    font-size: 20px;
    color: #4d4d4d;
    img {
      margin-right: 11px;
    }
  }
}
.profile-wrapper {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  img {
    margin: auto;
    width: 50px;
  }
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #4d0b0b;
  }
}
#cookbook-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  article {
    margin: 20px 8px;
  }
}

@media (min-width: variables.$tablet) {
  body {
    width: auto;
  }
}
@media (min-width: variables.$desktop) {
  section {
    width: 900px;
  }
}
