@use "variables";

*{
    margin: 0;
    font-family: variables.$sofia-pro;
}

.frontpage{
    margin: 0;

    .read-more-btn{
        background-color: variables.$main;
        color: variables.$basic-white;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom:8px;
        border: none;
        font-size: 12px;
    }

    .header{
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
        padding-bottom: 10px;
        .profile{
            img{
                border-radius: 20px;
            }
            padding-left: 20px;
            padding-top: 20px;
        }
        .logo{
            img{
                width: 100px;
                height: auto;
            }
            padding-top: 20px;
        }
        .search{
            img{
                width: 20px;
                height: auto;
                padding-left: 35px;
            }
            padding-top: 25px;
        }
        .menu{
            img{
                padding-left: 10px;
            }
            padding-top: 25px;
        }
    }
    .section-1{
        background-image: url("img/section-1-background.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        padding-bottom: 100px;

        .section-text{
            width: 100%;
            h2{
                font-size: 19px;
                padding-top: 100px;
                padding-left: 70px;
                width: 40%;
            }
        }

        button{
            margin-left: 70px;
            margin-top: 20px;
        }
    }

    .section-2{
        padding-bottom: 50px;
        h1{
            color: variables.$basic-dark-red;
            padding-top: 40px;
            padding-left: 18px;
            padding-bottom: 30px;
        }

        .background{
            background-image: url("img/section-2-background.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 90%;
            margin-left: 19px;
            height: auto;
            padding-top: 5px;

            .recipe-label{
                background-color: variables.$main-red-30;
                color: variables.$basic-white;
                margin-left: 10px;
                margin-top: 5px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 10%;
                text-align: center;
                border-radius: 25px;
                font-size: small;
            }

            .grid-view{
                display: grid;
                grid-template-columns: 4fr 2fr;
            }

            .recipe-white-box{
                background-color: variables.$basic-white;
                margin-top: 200px;
                border-radius: 20px;

                .recipe-title{
                    padding-top: 10px;
                }
                .recipe-diet{
                    color: variables.$basic-light-grey;
                    font-size: small;
                    padding-top: 5px;
                }
            }

            .ratings{
                margin-top: 200px;
                background-color: variables.$see-through;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .last-section-recipe{
            background-color: variables.$basic-white;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 2fr;
            width: 90%;
            margin-left: 19px;
            padding-top: 5px;

            img{
                width: 40px;
                height: auto;
            }
        }
        
    }

    .section-3{
        .background{
            background-image: url("img/section-2-background.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 90%;
            margin-left: 19px;
            height: auto;
            padding-top: 5px;
            border-radius: 12px;

            .article-label{
                background-color: variables.$accent-green-10;
                color: variables.$basic-white;
                margin-left: 10px;
                margin-top: 5px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 10%;
                text-align: center;
                border-radius: 25px;
                font-size: small;
            }

            .article-title{
                background-color: variables.$see-through-2;
                .title{
                    width: 80%;
                    padding-left: 20px;
                    padding-top: 10px;
                    color: variables.$basic-dark-red;
                    font-weight: bold;
                    margin-top: 185px;
                }
                img{
                    display: inline;
                    padding-left: 20px;
                }

                .minutes{
                    display: inline;
                    font-size: 9px;
                }

            }

            .manchet{
                font-size: 13px;
                color: variables.$basic-dark-grey;
                padding-top: 20px;
                width: 90%;
                padding-bottom: 25px;
            }
        }
    }

    .section-4{
        width: 100%;
        padding-top: 50px;

        .background{
            background-image: url("img/section-4-background.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            height: 300px;

            h1{
                font-size: 23px;
                color: variables.$basic-dark-red;
                padding-top: 25px;
                padding-left: 15px;
            }

            .apricots{
                border-radius: 15px;
                background-color: variables.$basic-brown-10;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                width: 40%;
                margin-left: 15px;

                img{
                    display: inline-block;
                }
                p{
                    display: inline-block;
                    font-size: 14px;
                }
            }
            a{
                color: variables.$basic-dark-red;
                font-weight: bold;
                padding-left: 100px;
                padding-top: 180px;
                font-size: 14px;
            }
        }
    }

    .section-5{
        h1{
            font-size: 23px;
            color: variables.$basic-dark-red;
            padding-top: 50px;
            padding-left: 20px;
            padding-bottom: 40px;
        }
        .images{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            p{
                font-weight: 500;
                padding-left: 25px;
            }

            img{
                border-radius: 50px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            
            .img-1{
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                padding-left: 40px;
                padding-top: 20px;
            }

            .img-2{
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }

            .img-3{
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
                padding-right: 20px;

            }

        }
    }
 
    .footer{
        border-top: 2px solid variables.$basic-light-grey;
        width: 90%;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 0.75fr 0.6fr;

        a{
            color: variables.$basic-dark-grey;
            text-decoration: none;
            font-size: 14px;
        }

        .grid-1{
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            padding-top: 30px;
            padding-bottom: 20px;
            img{
                padding-right: 20px;
                width: 30px;
                height: auto;
            }
        }

        .grid-2{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
        }

        .grid-3{
            grid-column: 2/ span 1;
            grid-row: 2 / span 1;
        }

        .grid-4{
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
            padding-left: 90px;
            img{
                display: inline;
            }
            p{
                display: inline;
                font-size: 14px;
                font-weight: 300;
            }
        }

    }
}

@media(min-width: variables.$tablet){
    .frontpage{
    .header{
        .profile{
            img{
                width: 50px;
                height: auto;
                border-radius: 50px;
            }
        }
        .logo{
            img{
                width: 150px;
            }
        }

        .search{
            img{
                width: 30px;
                padding-left: 70px;
            }
        }

        .menu{
            img{
                padding-left: 50px;
                width: 50px;
                height: auto;
            }
            padding-top: 35px;
        }
    }
}
}