@use "variables";

* {
  margin: 0;
  font-family: variables.$sofia-pro;
}
body {
  width: 100%;
  min-height: 100vh;
}
.devider {
  height: 150px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-45 {
  margin-bottom: 45px;
}
