//////////////////////////////////               COLORS              ///////////////////////////////////////
$main: #EE2222;;
$main-red-10: rgba(238, 34, 34, 0.1);
$main-red-30: rgba(238, 34, 34, 0.3);
$basic-dark-red: #4D0B0B;
$basic-dark-grey: #4D4D4D;
$basic-brown-10: rgba(77, 11, 11, 0.1);
$basic-white: #FFFFFF;
$basic-light-grey: #949494;
$basic-black: black;
$accent-orange: #ED7321;
$accent-green: #1FE5B7;
$alert-yellow: #FFBA08;
$alert-red: #D00000;
$basic-brown-30: rgba(77, 11, 11, 0.6);
$accent-green-10: rgba(31, 229, 183, 0.3);

//////////////////////////////////               BREAKPOINTS              ///////////////////////////////////////

$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

/////////////////////////////////                   FONTS                       ////////////////////////////////////////

$header: 'Sofia Pro';