@import url(https://use.typekit.net/rll2ezx.css);
* {
  margin: 0;
  font-family: "Sofia Pro";
}

.frontpage {
  margin: 0;
}
.frontpage .read-more-btn {
  background-color: #ee2222;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.frontpage .header {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
}
.frontpage .header .profile {
  padding-left: 20px;
  padding-top: 20px;
}
.frontpage .header .profile img {
  border-radius: 20px;
}
.frontpage .header .logo {
  padding-top: 12px;
}
.frontpage .header .logo img {
  width: 50px;
  height: auto;
}
.frontpage .header .search {
  padding-top: 25px;
}
.frontpage .header .search img {
  width: 20px;
  height: auto;
  padding-left: 35px;
}
.frontpage .header .menu {
  padding-top: 25px;
}
.frontpage .header .menu img {
  padding-left: 10px;
}
.frontpage .section-1 {
  background-image: url("img/section-1-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.frontpage .section-1 .section-text {
  width: 100%;
}
.frontpage .section-1 .section-text h2 {
  font-size: 19px;
  padding-top: 100px;
  padding-left: 70px;
  width: 40%;
}
.frontpage .section-1 button {
  margin-left: 70px;
  margin-top: 20px;
}
.frontpage .section-2 {
  padding-bottom: 50px;
}
.frontpage .section-2 h1 {
  color: #4d0b0b;
  padding-top: 40px;
  padding-left: 18px;
  padding-bottom: 30px;
}
.frontpage .section-2 .background {
  background-image: url("img/section-2-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 90%;
  margin-left: 19px;
  height: auto;
  padding-top: 5px;
}
.frontpage .section-2 .background .recipe-label {
  background-color: rgba(238, 34, 34, 0.3);
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 10%;
  text-align: center;
  border-radius: 25px;
  font-size: small;
}
.frontpage .section-2 .background .grid-view {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.frontpage .section-2 .background .recipe-white-box {
  background-color: #ffffff;
  margin-top: 200px;
  border-radius: 20px;
}
.frontpage .section-2 .background .recipe-white-box .recipe-title {
  padding-top: 10px;
}
.frontpage .section-2 .background .recipe-white-box .recipe-diet {
  color: #949494;
  font-size: small;
  padding-top: 5px;
}
.frontpage .section-2 .background .ratings {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.frontpage .section-2 .last-section-recipe {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  width: 90%;
  margin-left: 19px;
  padding-top: 5px;
}
.frontpage .section-2 .last-section-recipe img {
  width: 40px;
  height: auto;
}

/*# sourceMappingURL=frontpage.css.map */
