@import url(https://use.typekit.net/rll2ezx.css);
* {
  margin: 0;
  font-family: sofia-pro, sans-serif;
}

.frontpage .read-more-btn {
  background-color: #ee2222;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 12px;
}
.frontpage .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.frontpage .header .profile {
  padding-left: 20px;
  padding-top: 20px;
}
.frontpage .header .profile img {
  border-radius: 20px;
}
.frontpage .header .logo {
  padding-top: 20px;
}
.frontpage .header .logo img {
  width: 100px;
  height: auto;
}
.frontpage .header .search-and-menu {
  padding-right: 20px;
  padding-top: 25px;
}
.frontpage .section-1 {
  background-image: url("img/section-1-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 298px;
}
.frontpage .section-1 .section-text {
  width: 100%;
}
.frontpage .section-1 .section-text h2 {
  font-size: 20px;
  padding-top: 100px;
  padding-left: 70px;
  width: 40%;
  font-weight: 400;
}
.frontpage .section-1 button {
  margin-left: 70px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
}
.frontpage .section-2 {
  padding-bottom: 50px;
}
.frontpage .section-2 h1 {
  color: #4d0b0b;
  padding-top: 30px;
  padding-left: 18px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 800;
}
.frontpage .section-2 .flex-container {
  display: flex;
  justify-content: center;
}
.frontpage .section-2 .flex-container .background {
  background-image: url("img/section-2-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 90%;
  height: auto;
  padding-top: 5px;
}
.frontpage .section-2 .flex-container .background .recipe-label {
  background-color: rgba(238, 34, 34, 0.3);
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 10%;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
}
.frontpage .section-2 .flex-container .background .grid-view {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.frontpage .section-2 .flex-container .background .recipe-white-box {
  background-color: #ffffff;
  margin-top: 200px;
  border-radius: 0px 20px 0px 0px;
}
.frontpage .section-2 .flex-container .background .recipe-white-box .recipe-title {
  padding-top: 10px;
  font-weight: 800;
  font-size: 18px;
}
.frontpage .section-2 .flex-container .background .recipe-white-box .recipe-diet {
  color: #949494;
  font-size: 10px;
  font-weight: 400;
}
.frontpage .section-2 .flex-container .background .ratings {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
.frontpage .section-2 .last-section-recipe {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  width: 90%;
  margin-left: 19px;
  padding-top: 5px;
}
.frontpage .section-2 .last-section-recipe img {
  width: 45px;
  height: auto;
}
.frontpage .section-2 .last-section-recipe button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.frontpage .section-3 .background {
  background-image: url("img/section-2-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 90%;
  margin-left: 19px;
  height: auto;
  padding-top: 5px;
  border-radius: 12px;
}
.frontpage .section-3 .background .article-label {
  background-color: rgba(31, 229, 183, 0.3);
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 10%;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
}
.frontpage .section-3 .background .article-title {
  background-color: rgba(255, 255, 255, 0.7);
}
.frontpage .section-3 .background .article-title .title {
  width: 80%;
  padding-left: 20px;
  padding-top: 10px;
  color: #4d0b0b;
  font-weight: 800;
  font-size: 18px;
  margin-top: 185px;
}
.frontpage .section-3 .background .article-title img {
  display: inline;
  padding-left: 20px;
}
.frontpage .section-3 .background .article-title .minutes {
  display: inline;
  font-size: 9px;
}
.frontpage .section-3 .background .manchet {
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  padding-top: 20px;
  width: 90%;
  padding-bottom: 25px;
}
.frontpage .section-4 {
  width: 100%;
  padding-top: 50px;
}
.frontpage .section-4 .background {
  background-image: url("img/section-4-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.frontpage .section-4 .background h1 {
  font-size: 25px;
  font-weight: 800;
  color: #4d0b0b;
  padding-top: 25px;
  padding-left: 15px;
}
.frontpage .section-4 .background .apricots {
  border-radius: 15px;
  background-color: rgba(77, 11, 11, 0.1);
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  margin-left: 15px;
  margin-top: 15px;
  display: inline-flex;
  align-content: center;
}
.frontpage .section-4 .background .apricots img {
  display: inline;
}
.frontpage .section-4 .background .apricots p {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  color: #4d0b0b;
}
.frontpage .section-4 .background a {
  color: #4d0b0b;
  font-size: 14px;
  font-weight: 800;
  align-self: center;
  margin-top: auto;
  padding-bottom: 20px;
}
.frontpage .section-5 {
  margin-top: 45px;
  padding-bottom: 20px;
}
.frontpage .section-5 h1 {
  font-size: 25px;
  font-weight: 800;
  color: #4d0b0b;
  padding-left: 20px;
  padding-bottom: 40px;
}
.frontpage .section-5 .images {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.frontpage .section-5 .images p {
  font-weight: 800;
  font-size: 16px;
  padding-left: 25px;
}
.frontpage .section-5 .images img {
  border-radius: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.frontpage .section-5 .images .img-1 {
  padding-left: 20px;
  padding-top: 20px;
}
.frontpage .section-5 .images .img-2 {
  margin-top: auto;
  padding-top: 150px;
}
.frontpage .section-5 .images .img-3 {
  padding-right: 20px;
}
.frontpage .footer {
  border-top: 1px solid #949494;
  width: 90%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.frontpage .footer a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.frontpage .footer .grid-1 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.frontpage .footer .grid-1 img {
  padding-right: 20px;
  width: 30px;
  height: auto;
}
.frontpage .footer .grid-2 .privacy {
  padding-left: 30px;
}
.frontpage .footer .grid-3 {
  padding-top: 10px;
}
.frontpage .footer .grid-3 .contact {
  padding-left: 70px;
}
.frontpage .footer .grid-4 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.frontpage .footer .grid-4 img {
  width: 16px;
  height: 16px;
  margin-top: auto;
}
.frontpage .footer .grid-4 p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
  color: #4d4d4d;
}

@media (min-width: 700px) {
  .frontpage .header .profile img {
    width: 50px;
    height: auto;
    border-radius: 50px;
  }
  .frontpage .header .logo img {
    width: 150px;
  }
  .frontpage .header .search img {
    width: 30px;
    padding-left: 150px;
  }
  .frontpage .header .menu {
    padding-top: 35px;
  }
  .frontpage .header .menu img {
    padding-left: 50px;
    width: 50px;
    height: auto;
  }
}

/*# sourceMappingURL=frontpage.css.map */
