@import url(https://use.typekit.net/rll2ezx.css);
* {
  margin: 0;
  font-family: sofia-pro, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.read-more-btn {
  background-color: #ee2222;
  color: #ffffff;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 14px;
  max-width: 97px;
  min-height: 50px;
  align-self: flex-end;
  min-width: 97px;
}
.read-more-btn a {
  text-decoration: none;
  color: #ffffff;
}

main#frontpage {
  padding-top: 25px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 14px;
}
main#frontpage h1 {
  padding: 20px 0px;
}

main#frontpage .content-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(77, 11, 11, 0.1);
  margin-bottom: 20px;
}
.header .profile {
  padding-left: 20px;
  padding-top: 20px;
}
.header .profile img {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.header .logo {
  padding-top: 20px;
}
.header .logo img {
  width: 100px;
  height: auto;
}
.header .menu {
  margin-left: 20px;
}
.header .search-and-menu {
  padding-right: 20px;
  padding-top: 25px;
}

.section-1 {
  background-image: url("img/section-1-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 298px;
}
.section-1 .section-text {
  width: 100%;
}
.section-1 .section-text h2 {
  font-size: 20px;
  padding-top: 100px;
  padding-left: 70px;
  width: 40%;
  font-weight: 400;
}
.section-1 button {
  margin-left: 70px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
}

.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

.section-2 {
  width: 100%;
  padding-bottom: 50px;
}
.section-2 h1 {
  color: #4d0b0b;
  padding-top: 30px;
  padding-left: 18px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 800;
}
.section-2 .last-section-recipe {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  width: 90%;
  margin-left: 19px;
  padding-top: 5px;
}
.section-2 .last-section-recipe img {
  width: 45px;
  height: auto;
}
.section-2 .last-section-recipe button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.section-2 .last-section-recipe button a {
  text-decoration: none;
  color: #ffffff;
}

.section-3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
.section-3 .manchet {
  font-size: 12px;
  font-weight: 400;
  color: #4d4d4d;
  padding: 5px;
}
.section-3 .article-single-container .background {
  background-image: url("img/section-2-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  height: auto;
  padding: 5px 0px 20px 0px;
  border-radius: 12px;
  position: relative;
}
.section-3 .article-single-container .background .article-label {
  background-color: rgba(31, 229, 183, 0.3);
  color: #ffffff;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 30%;
  text-align: center;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 400;
}
.section-3 .article-single-container .background .article-title {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0px;
  padding: 0px 10px;
  padding-bottom: 8px;
  width: 100%;
}
.section-3 .article-single-container .background .article-title .title {
  color: #4d0b0b;
  font-weight: 800;
  font-size: 18px;
}
.section-3 .article-single-container .background .article-title img {
  display: inline;
  padding-left: 20px;
}
.section-3 .article-single-container .background .article-title .minutes {
  display: inline;
  font-size: 9px;
  margin-bottom: 5px;
}
.section-3 button a {
  text-decoration: none;
  color: #ffffff;
}

.section-4 {
  width: 100%;
  padding-top: 50px;
}
.section-4 .background {
  background-image: url("img/section-4-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.section-4 .background h1 {
  font-size: 25px;
  font-weight: 800;
  color: #4d0b0b;
  padding-top: 25px;
  padding-left: 15px;
}
.section-4 .background .apricots {
  border-radius: 15px;
  background-color: rgba(77, 11, 11, 0.1);
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  margin-left: 15px;
  margin-top: 15px;
  display: inline-flex;
  align-content: center;
}
.section-4 .background .apricots img {
  display: inline;
}
.section-4 .background .apricots p {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  color: #4d0b0b;
}
.section-4 .background a {
  color: #4d0b0b;
  font-size: 14px;
  font-weight: 800;
  align-self: center;
  margin-top: auto;
  padding-bottom: 20px;
}

.section-5 {
  width: 100%;
  margin-top: 45px;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.section-5 h1 {
  font-size: 25px;
  font-weight: 800;
  color: #4d0b0b;
  padding-left: 20px;
  padding-bottom: 40px;
}
.section-5 .images {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.section-5 .images p {
  font-weight: 800;
  font-size: 16px;
  padding-left: 25px;
}
.section-5 .images img {
  border-radius: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-5 .images .img-1 {
  padding-left: 20px;
  padding-top: 20px;
}
.section-5 .images .img-2 {
  margin-top: auto;
  padding-top: 150px;
}
.section-5 .images .img-3 {
  padding-right: 20px;
}

.footer {
  width: 100%;
  border-top: 1px solid #949494;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .grid-1 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer .grid-1 img {
  margin: 0;
  width: 35px;
  height: 35px;
  height: auto;
}
.footer .grid-1 img:nth-child(1) {
  margin-right: 24px;
}
.footer .grid-2 .privacy {
  padding-left: 30px;
}
.footer .grid-3 {
  padding-top: 10px;
}
.footer .grid-3 .contact {
  padding-left: 70px;
}
.footer .grid-4 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .grid-4 img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
.footer .grid-4 p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
  color: #4d4d4d;
}

@media (min-width: 700px) {
  .home-page .header .profile img {
    width: 50px;
    height: auto;
    border-radius: 50px;
  }
  .section-5 .home-page .header .logo img {
    width: 150px;
  }
  .home-page .header .search img {
    width: 20px;
    height: 20px;
    z-index: 2000;
  }
  .section-5 .home-page .header .menu {
    padding-top: 35px;
  }
  .home-page .header .menu img {
    width: 20px;
    height: 20px;
    width: 30px;
    height: auto;
  }
}
@media (min-width: 1100px) {
  article.single-recipe-template {
    grid-template-rows: 360px auto auto;
  }
  article.single-recipe-template .title-review-container {
    top: calc(360px - 50px);
  }

  .content {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 50px;
  }
}

/*# sourceMappingURL=frontpage.css.map */
