@import url(https://use.typekit.net/rll2ezx.css);
main {
  max-width: 1280px;
}

article.single-recipe-template {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 300px auto auto;
  align-items: center;
  position: relative;
}
article.single-recipe-template .image {
  background-image: url(../img/section-2-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
article.single-recipe-template .recipe-label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(238, 34, 34, 0.3);
}
article.single-recipe-template .title-review-container {
  display: grid;
  width: 100%;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(300px - 50px);
  background: rgba(255, 255, 255, 0.7);
}
article.single-recipe-template .title-review-container .title-of-recipe {
  background: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 0px 20px 0px 0px;
  display: inline-flex;
  align-items: center;
  word-wrap: break-word;
  overflow: hidden;
}
article.single-recipe-template .title-review-container .title-of-recipe h3 {
  padding-left: 10px;
}
article.single-recipe-template .title-review-container .review-rating-recipe {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
article.single-recipe-template .icon-button-container {
  display: grid;
  width: 100%;
  margin-top: 10px;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50px;
  align-items: center;
}
article.single-recipe-template .icon-button-container .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}
article.single-recipe-template .icon-button-container a.button {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background: #ee2222;
  color: #ffffff;
  border: none;
  filter: drop-shadow(2px 0px 2px rgba(238, 34, 34, 0.3));
  height: fit-content;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  text-align: center;
}
article.single-recipe-template .image-link {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.header .profile {
  padding-left: 20px;
  padding-top: 20px;
}
.header .profile img {
  border-radius: 20px;
}
.header .logo {
  padding-top: 20px;
}
.header .logo img {
  width: 100px;
  height: auto;
}
.header .search-and-menu {
  padding-right: 20px;
  padding-top: 25px;
}

.footer {
  border-top: 1px solid #949494;
  width: 90%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.footer a {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.footer .grid-1 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer .grid-1 img {
  padding-right: 20px;
  width: 30px;
  height: auto;
}
.footer .grid-2 .privacy {
  padding-left: 30px;
}
.footer .grid-3 {
  padding-top: 10px;
}
.footer .grid-3 .contact {
  padding-left: 70px;
}
.footer .grid-4 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .grid-4 img {
  width: 16px;
  height: 16px;
  margin-top: auto;
}
.footer .grid-4 p {
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
  color: #4d4d4d;
}

.category-banner {
  background-color: rgba(238, 34, 34, 0.1);
  padding-bottom: 50px;
}
.category-banner .back {
  width: 17px;
  height: auto;
  padding-top: 15px;
  padding-left: 15px;
}
.category-banner .category {
  padding-left: 125px;
}
.category-banner .category img {
  display: inline;
  width: 67px;
  height: 70px;
}
.category-banner .category p {
  display: inline;
  color: #4d0b0b;
  font-weight: 800;
  font-size: 30px;
  padding-left: 20px;
}

.category-description {
  width: 90%;
  padding-left: 20px;
}
.category-description p {
  font-weight: 400;
  font-size: 18px;
}

.results p {
  font-weight: 800;
  font-size: 25px;
  display: inline;
  color: #4d0b0b;
}
.results button {
  display: inline;
  background-color: #ed7321;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  float: right;
}

.pages {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.pages p {
  display: inline;
  width: 5px;
  margin-right: 10px;
}
.pages .page-1 {
  border-bottom: 1px #ed7321 solid;
  color: #ed7321;
}

/*# sourceMappingURL=recipe-list-cake.css.map */
