<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../article-list.css">
    <link rel="stylesheet" href="../header-footer.css">
    <title>Document</title>
</head>
<body>
  <script>0</script>
    <div class="header">
        <a class="profile" href="private-profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <div class="search-and-menu">
            <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
            <a class="menu" href="menu.html"><img src="../img/burger menu.png" alt="burger-menu"></a>
        </div>
    </div>

    <div class="section-1">
      <div class="image"></div>
      <a href="single-article.html" class="image-link"></a>
      <div class="title-container">
        <div class="title-of-article"><h3>Lisa found her passion</h3></div>
        <div class="read-more">
          <button><a href="./single-article.html">Read more</a></button>
        </div>
      </div>
    </div>

    <div class="latest">
      <h1>Latest <img src="../img/arrow-down.png" alt=""></h1>
      <button><a href="#">Filter <img src="../img/filter-icon.png" alt=""></a></button>
    </div>

    <div class="section-articles">
      <div class="article">
        <div class="background">
            <div class="article-label">Read</div>
            <div class="article-title">
                <p class="title">Name of an article longer lorem ipsum article bla bla</p>
                <img src="../img/read-time.png" alt="read-time-icon">
                <p class="minutes">4 min.</p>
            </div>
            <div class="manchet">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <button class="read-more-btn"><a href="./single-article.html">Read more</a></button>
        </div>
    </div>
  
    <div class="article">
      <div class="background">
          <div class="article-label">Read</div>
          <div class="article-title">
              <p class="title">Name of an article longer lorem ipsum article bla bla</p>
              <img src="../img/read-time.png" alt="read-time-icon">
              <p class="minutes">4 min.</p>
          </div>
          <div class="manchet">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <button class="read-more-btn"><a href="./single-article.html">Read more</a></button>
      </div>
  </div>
    </div>

<div class="pages">
  <p class="page-1">1</p>
  <p class="page-2">2</p>
  <p class="page-3">3</p>
</div>


    <div class="footer">
        <div class="grid-1">
          <img src="../img/instagram.png" alt="instagram-icon" />
          <img src="../img/facebook.png" alt="facebook-icon" />
        </div>
        <div class="grid-2">
          <a href="#">Terms & Conditions</a>
          <a class="privacy" href="#">Privacy Policy</a>
        </div>
        <div class="grid-3">
          <a href="#">Cookie Policy</a>
          <a class="contact" href="#">Contact</a>
        </div>
        <div class="grid-4">
          <img src="../img/copyright.png" alt="copyright-icon" />
          <p>BakeIt</p>
        </div>
      </div>
    
</body>
</html>