<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../article_composer.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="header-container">
        <div class="profile">
            <img src="../img/writer.jpg" alt="profile image">
            <i class="fas fa-chevron-down"></i>
            <a class="back-to-profile" href="cw-profile-articles.html"></a>

        </div>

        <div class="options">
            <a  href="#"class="clear">
                Request review
            </a>
            <a href="#" class="clear">
                Save draft
            </a>
            <a href="#" >
                Preview
            </a>
            <a href="#">
                Publish
            </a>
        </div>
        </div>
    </header>
    <main id="article_composer">
        <a href="../views/article_composer.html" class="go-back"></a>
  
        <div class="container header">
            <h1>Add Title</h1>
            <h3>Add Description</h3>
            <div class="reading-time"><i class="far fa-clock"></i> Estimated reading time</div>
        </div>

        <div class="composer-module">
            <a href="#" class="add-element">
                +
            </a>
            <div class="composer-header">
                <i class="fas fa-bold"></i>
                <i class="fas fa-italic"></i>
                <i class="fas fa-underline"></i>
                <i class="fas fa-strikethrough"></i>
                <i class="fas fa-font"></i>
                <i class="fas fa-paint-brush"></i>
                <i class="far fa-smile-beam"></i>
                <i class="fas fa-list-ul"></i>
                <i class="fas fa-list-ol"></i>
                <i class="fas fa-indent"></i>
                <i class="fas fa-align-left"></i>
                <i class="fas fa-align-center"></i>
                <i class="fas fa-align-right"></i>
                <i class="fas fa-align-justify"></i>
            </div>
            <div class="text">

                <textarea name="" id="" cols="32" 
                placeholder="&#8592; Add element "></textarea>
            </div>


            <div class="headings">
                <h4>BASIC BLOCKS</h4>
                <div class="single-heading">
                    <a href="article_composer.html" class="go-back"></a>
                    <div class="box"></div>
                    <div class="texts">
                        <h5>Text</h5>
                        <span>Just start writing plain text</span>
                    </div>
                </div>
                <div class="single-heading">
                    <a href="article_composer.html" class="go-back"></a>
                    <div class="box"></div>
                    <div class="texts">
                        <h5>Heading 1</h5>
                        <span>Big section heading</span>
                    </div>
                </div>
                <div class="single-heading">
                    <a href="article_composer.html" class="go-back"></a>
                    <div class="box"></div>
                    <div class="texts">
                        <h5>Heading 2</h5>
                        <span>Medium section heading</span>
                    </div>
                </div>
                <div class="single-heading">
                    <a href="article_composer.html" class="go-back"></a>
                    <div class="box"></div>
                    <div class="texts">
                        <h5>Heading 3</h5>
                        <span>Small section heading</span>
                    </div>
                </div>
                <h4>MEDIA</h4>
                <div class="single-heading">
                    <a href="article_composer.html" class="go-back"></a>
                    <div class="box"></div>
                    <div class="texts">
                        <h5>Image </h5>
                        <span>Upload or embed with a link</span>
                    </div>
                </div>

            </div>
        </div>
    </main>

</html>