<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../cw-profile.css" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="../frontpage.css" />

    <title>Content Writer Profile</title>
  </head>
  <body>
    <div class="header">
      <a class="profile" href="/"
        ><img src="../img/cw-profile-image.png" alt="profile-image"
      /></a>
      <a class="logo" href="index.html"
        ><img src="../img/logo.png" alt="logo"
      /></a>
      <div class="search-and-menu">
        <a href="/" id="back-to-website">Back to the website</a>
      </div>
    </div>
    <main id="cw-profile">
      <div id="first-section">
        <div id="sort">
          <p>Articles</p>
          <img src="../img/down-arrow.svg" alt="down arrow icon" />
        </div>
        <input type="search" placeholder="Search for something..." />

        <div id="select">
          <img src="../img/select-icon.svg" alt="select icon" />
          <p>Select</p>
        </div>
        <button>New</button>
      </div>
      <table>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Tag</th>
          <th>Published</th>
        </tr>
        <tr>
          <td class="name">
            Name of an article longer lorem ipsum article bla bla
          </td>
          <td class="status">Published</td>
          <td><span class="article-label">Article</span></td>
          <td>May 3, 2021 08:00</td>
        </tr>
        <tr>
          <td class="name">Cherry cheesecake</td>
          <td class="status">Published</td>
          <td><span class="recipe-label">Recipe</span></td>
          <td>May 10, 2021 12:00</td>
        </tr>
      </table>
    </main>
  </body>
</html>
