<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontpage.css">
    <link href="../font/stylesheet.css" rel="stylesheet" type="text/css"/>
    <title>Baking Magazine 2021</title>
</head>
<body class="frontpage">
    <div class="header">
        <a class="profile" href="profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
        <a class="menu" href="menu.html"><img src="../img/burger menu.png" alt="burger-menu"></a>
    </div>

    <div class="section-1">
        <div class="section-text"> <h2>Baking as a family activity</h2></div>
        <button class="read-more-btn">Read more</button>
    </div>

    <div class="section-2">
        
        <h1>Today's picks</h1>

        <div class="background">
            <div class="recipe-label">Try</div>
            <div class="grid-view">
                <div class="recipe-white-box">
                    <p class="recipe-title">Cherry cheesecake</p>
                    <p class="recipe-diet">Vegan, Reduced sugar</p>
                </div>
                <div class="ratings">
                    <img src="../img/ratings.png" alt="rating-stars">
                    <p>12 reviews</p>
                </div>
            </div>
        </div>

        <div class="last-section-recipe">
            <img src="../img/time.png" alt="time-icon">
            <img src="../img/servings.png" alt="servings-icon">
            <img src="../img/difficulty.png" alt="difficulty-icon">
            <button class="read-more-btn">Read more</button>
        </div>

    </div>

    <div class="section-3">
        <div class="background">
            <div class="article-label">Read</div>
            <div class="article-title">
                <p class="title">Name of an article longer lorem ipsum article bla bla</p>
                <img src="../img/read-time.png" alt="read-time-icon">
                <p class="minutes">4 min.</p>
            </div>
            <div class="manchet">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <button class="read-more-btn">Read more</button>
        </div>
    </div>

    <div class="section-4">
        <div class="background">
            <h1>What's in season</h1>
            <div class="apricots">
                <img src="../img/apricots.png" alt="apricots">
                <p>apricots season</p>
            </div>
            <a href="apricots.html">30 recipes with apricots</a>
        </div>

    </div>

    <div class="section-5">
        <h1>Popular cookies</h1>
        <div class="images">
            <div class="img-1">
                <img src="../img/cookies-1.png" alt="cookie">
                <p>Lorem</p>
            </div>
            <div class="img-2">
                <img src="../img/cookies-2.png" alt="cookie">
                <p>Lorem</p>
            </div>
            <div class="img-3">
                <img src="../img/cookies-3.png" alt="cookie">
                <p>Lorem</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="grid-1">
            <img src="../img/instagram.png" alt="instagram-icon">
            <img src="../img/facebook.png" alt="facebook-icon">
        </div>
        <div class="grid-2">
            <a href="terms-conditions.html">Terms & Conditions</a>
            <a href="cookie-policy.html">Cookie Policy</a>
        </div>
        <div class="grid-3">
            <a href="privacy-policy.html">Privacy Policy</a>
            <a href="contact.html">Contact</a>
        </div>
        <div class="grid-4">
            <img src="../img/copyright.png" alt="copyright-icon">
            <p>Baking Magazine 2021</p>
        </div>
    </div>
</body>
</html>