<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../general.css">
    <link rel="stylesheet" href="../profile.css">
    <link rel="stylesheet" href="../frontpage.css">
    <title>Profile</title>
</head>
<body>
    <div class="header">
        <a class="profile" href="private-profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <div class="search-and-menu">
            <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
            <a class="menu" href="menu.html"><img src="../img/burger menu.png" alt="burger-menu"></a>
        </div>
    </div>
        <img src="../img/profile.png" alt="Profile picture">
        <div>
            <h2>Selina Kyle</h2>
            <img src="../img/gear.svg" alt="Gear icon for settings">
        </div>
        <p class="mb-30">selina@gmail.com</p>
        <div class="mb-45 actions-wrapper">
            <a class="tab-active" href=""><img src="../img/chef.svg" alt="Cooking hat"> Cookbook</a>
            <a href="">Tried</a>
            <a id="link-add-new-cookbook" href=""><img src="../img/add-cookbook.png" alt="plus icon"></a>

        </div>
        <section>
            <a href="public-cookbook.html">
                <div id="board-wrapper">
                    <div class="board-icons-wrapper">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3>Sunday baking</h3>
                    <p>1 item</p>
                </div>
            </a>
            <a href="public-cookbook.html">
                <div id="board-wrapper">
                    <div class="board-icons-wrapper">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3>Funday breakies</h3>
                    <p>1 item</p>
                </div>
            </a>
            <a href="public-cookbook.html">
                <div id="board-wrapper">
                    <div class="board-icons-wrapper">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h3>Must try</h3>
                    <p>1 item</p>
                </div>

            </a>
        </section>
        <section class="devider"></section>
        <div class="footer">
            <div class="grid-1">
                <img src="../img/instagram.png" alt="instagram-icon">
                <img src="../img/facebook.png" alt="facebook-icon">
            </div>
            <div class="grid-2">
                <a href="terms-conditions.html">Terms & Conditions</a>
                <a class="privacy" href="privacy-policy.html">Privacy Policy</a>
            </div>
            <div class="grid-3">
                <a href="cookie-policy.html">Cookie Policy</a>
                <a class="contact" href="contact.html">Contact</a>
            </div>
            <div class="grid-4">
                <img src="../img/copyright.png" alt="copyright-icon">
                <p>BakeIt 2021</p>
            </div>
        </div>
</body>
</html>