<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../general.css">
    <link rel="stylesheet" href="../cookbook.css">
    <link rel="stylesheet" href="../recipe_single_template.css" />
    <link rel="stylesheet" href="../single-article.css">
    <link rel="stylesheet" href="../frontpage.css">

    <title>Profile</title>
</head>
<body>
    <div class="header">
        <a class="profile" href="private-profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <div class="search-and-menu">
            <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
            <a class="menu" href="menu.html"><img src="../img/burger menu.png" alt="burger-menu"></a>
        </div>
    </div>
    <section class="header-wrapper">
        <a href="public-profile.html">
            <img id="arrow-back" src="../img/arrow.svg" alt="arrow pointing backwards">
        </a>
        <h1><img src="../img/chef.svg" alt="Chef hat">Cakes</h1>
    </section>
    <section class="profile-wrapper">
        <img src="../img/profile2.png" alt="Profile picture">
        <h2>Amanda Dyre </h2>
    </section>
        <button>Filter <img src="../img/filter.svg" alt=""></button>

    <section class="results-wrapper" id="cookbook-results">
        <article class="single-recipe-template mb-45">
            <div class="image"></div>
            <a href="recipe_ingredients.html" class="image-link"></a>
            <div class="recipe-label">Recipe</div>
            <div class="title-review-container">
                <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
                <div class="review-rating-recipe">
                <img src="../img/ratings.png" alt="Image of ratings for recipe" />
                <span>26 reviews</span>
                </div>
            </div>
            <div class="icon-button-container">
                <div class="icons">
                <img src="../img/time.png" alt="icon for recipe" />
                <img src="../img/servings.png" alt="icon for recipe" />
                <img src="../img/difficulty.png" alt="icon for recipe" />
                </div>
                <a href="recipe_ingredients.html" class="button">Read more</a>
            </div>
            </article>
            <article class="single-recipe-template mb-45">
            <div class="image"></div>
            <a href="recipe_ingredients.html" class="image-link"></a>
            <div class="recipe-label">Recipe</div>
            <div class="title-review-container">
                <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
                <div class="review-rating-recipe">
                <img src="../img/ratings.png" alt="Image of ratings for recipe" />
                <span>26 reviews</span>
                </div>
            </div>
            <div class="icon-button-container">
                <div class="icons">
                <img src="../img/time.png" alt="icon for recipe" />
                <img src="../img/servings.png" alt="icon for recipe" />
                <img src="../img/difficulty.png" alt="icon for recipe" />
                </div>
                <a href="recipe_ingredients.html" class="button">Read more</a>
            </div>
            </article>
    </section>

    <div class="footer">
        <div class="grid-1">
            <img src="../img/instagram.png" alt="instagram-icon">
            <img src="../img/facebook.png" alt="facebook-icon">
        </div>
        <div class="grid-2">
            <a href="terms-conditions.html">Terms & Conditions</a>
            <a class="privacy" href="privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="grid-3">
            <a href="cookie-policy.html">Cookie Policy</a>
            <a class="contact" href="contact.html">Contact</a>
        </div>
        <div class="grid-4">
            <img src="../img/copyright.png" alt="copyright-icon">
            <p>BakeIt 2021</p>
        </div>
    </div>
</body>
</html>