<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../general.css">
    <link rel="stylesheet" href="../profile.css">
    <title>Profile</title>
</head>
<body>
        <img src="../img/profile2.png" alt="Profile picture">
        <div>
            <h2 class="mb-45">Amanda Dyre </h2>
        </div>
        <div class="mb-45 actions-wrapper">
            <a  class="tab-active" href=""><img src="../img/chef.svg" alt="Cooking hat"> Cookbook</a>
            <a href="">Tried</a>

        </div>
        <section>
            <div id="board-wrapper">
                <div class="board-icons-wrapper">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h3>Cakes</h3>
                <p>2 items</p>
            </div>
            <div id="board-wrapper">
                <div class="board-icons-wrapper">
                    <div id="img1"></div>
                    <div id="img2"></div>
                    <div></div>
                    <div></div>
                </div>
                <h3>Bread</h3>
                <p>1 item</p>
            </div>

        </section>

</body>
</html>