<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../recipe_single_template.css" />
  </head>
  <style>
    .container {
      max-width: 900px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: auto;
      grid-gap: 20px;
    }
    main {
      max-width: 1200px;
      margin: 0 auto;
    }
    /*     @media screen and ((tablet width)) {
      .container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
      }
    } */
  </style>
  <body>
    <main>
      <div class="container">
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>

        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>

        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>

        <article class="single-recipe-template">
          <div class="image"></div>
          <a href="#" class="image-link"></a>
          <div class="recipe-label">Recipe</div>
          <div class="title-review-container">
            <div class="title-of-recipe"><h3>Cherry Cheesecake chhee kjasdkasd</h3></div>
            <div class="review-rating-recipe">
              <img src="../img/ratings.png" alt="Image of ratings for recipe" />
              <span>26 reviews</span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons">
              <img src="../img/time.png" alt="icon for recipe" />
              <img src="../img/servings.png" alt="icon for recipe" />
              <img src="../img/difficulty.png" alt="icon for recipe" />
            </div>
            <a href="#" class="button">Read more</a>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
