<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link rel="stylesheet" href="../general.css">
    <link rel="stylesheet" href="../recipe-composer.css">
    <title>Recipe composer</title>
</head>
<body>
    <section class="composer-header">
        <div>
            <img src="../img/writer.jpg" alt="User image">
            <img src="../img/arrow-down.svg" alt="Arrow">
        </div>
        <div>
            <a href="">Save draft</a>
            <a href="">Preview</a>
            <a href="">Publish</a>
        </div>
    </section>
    <section class="composer-form">
        <!-- TODO: Add form settings -->
        <form action="" >
            <input type="text" name="title" id="" placeholder="Add title">
            <div>
                <input type="file" name="images" id="">
            </div>
            <div>
                <select name="category" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <input type="number" name="time">
                <input type="number" name="servings" id="">
                <select name="difficuilty" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <ul>
                <li>1</li>
                <li>2</li>
            </ul>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>

    </section>
</body>
</html>