<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../recipe-list.css">
    <title>Recipes</title>
</head>
<body>
    <div class="header">
        <a class="profile" href="private-profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
        <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
        <div class="search-and-menu">
            <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
            <a class="menu" href="menu.html"><img src="../img/burger menu.png" alt="burger-menu"></a>
        </div>
    </div>

    <div class="category-view">

        <div class="bread category">
            <div class="bread-icon pink">
               <a href="#"><img src="../img/bread-icon.png" alt="bread-icon"></a> 
            </div>
            <p>Bread</p>
        </div>

        <div class="cake category">
            <div class="cake-icon pink">
                <a href="./recipe-list-cake.html"><img src="../img/cake-icon.png" alt="cake-icon"></a>
            </div>
            <p>Cake</p>
        </div>

        <div class="pancakes category">
            <div class="pancakes-icon pink">
                <a href="#"><img src="../img/pancakes.png" alt="pancakes-icon"></a>
            </div>
            <p>Pancake</p>
        </div>

        <div class="pancakes category">
            <div class="pancakes-icon pink">
                <a href="./recipe-list-expanded.html"><img src="../img/pancakes.png" alt="pancakes-icon"></a>
            </div>
            <p>Pancakes</p>
        </div>

    </div>
    <div class="category-view-2">

        <div class="bread category">
            <div class="bread-icon pink">
               <a href="#"><img src="../img/bread-icon.png" alt="bread-icon"></a> 
            </div>
            <p>Bread</p>
        </div>

        <div class="cake category">
            <div class="cake-icon pink">
                <a href="#"><img src="../img/cake-icon.png" alt="cake-icon"></a>
            </div>
            <p>Cake</p>
        </div>

        <div class="pancakes category">
            <div class="pancakes-icon pink">
                <a href="#"><img src="../img/pancakes.png" alt="pancakes-icon"></a>
            </div>
            <p>Pancake</p>
        </div>

        <div class="see-less category">
            <div class="see-less-icon pink">
                <a href="./recipe-list.html"><img src="../img/see-less.png" alt="see-less-icon"></a>
            </div>
            <p>See less</p>
        </div>
    </div>
</div>


    <main>
        <div class="cont">
          <article class="single-recipe-template">
            <div class="image"></div>
            <a href="recipe_ingredients.html" class="image-link"></a>
            <div class="recipe-label">Recipe</div>
            <div class="title-review-container">
              <div class="title-of-recipe"><h3>Cherry Cheesecake </h3></div>
              <div class="review-rating-recipe">
                <img src="../img/ratings.png" alt="Image of ratings for recipe" />
                <span>26 reviews</span>
              </div>
            </div>
            <div class="icon-button-container">
              <div class="icons">
                <img src="../img/time.png" alt="icon for recipe" />
                <img src="../img/servings.png" alt="icon for recipe" />
                <img src="../img/difficulty.png" alt="icon for recipe" />
              </div>
              <a href="recipe_ingredients.html" class="button">Read more</a>
            </div>
          </article>
          <article class="single-recipe-template">
            <div class="image"></div>
            <a href="recipe_ingredients.html" class="image-link"></a>
            <div class="recipe-label">Recipe</div>
            <div class="title-review-container">
              <div class="title-of-recipe"><h3>Cherry Cheesecake</h3></div>
              <div class="review-rating-recipe">
                <img src="../img/ratings.png" alt="Image of ratings for recipe" />
                <span>26 reviews</span>
              </div>
            </div>
            <div class="icon-button-container">
              <div class="icons">
                <img src="../img/time.png" alt="icon for recipe" />
                <img src="../img/servings.png" alt="icon for recipe" />
                <img src="../img/difficulty.png" alt="icon for recipe" />
              </div>
              <a href="recipe_ingredients.html" class="button">Read more</a>
            </div>
          </article>
          <article class="single-recipe-template">
            <div class="image"></div>
            <a href="recipe_ingredients.html" class="image-link"></a>
            <div class="recipe-label">Recipe</div>
            <div class="title-review-container">
              <div class="title-of-recipe"><h3>Cherry Cheesecake</h3></div>
              <div class="review-rating-recipe">
                <img src="../img/ratings.png" alt="Image of ratings for recipe" />
                <span>26 reviews</span>
              </div>
            </div>
            <div class="icon-button-container">
              <div class="icons">
                <img src="../img/time.png" alt="icon for recipe" />
                <img src="../img/servings.png" alt="icon for recipe" />
                <img src="../img/difficulty.png" alt="icon for recipe" />
              </div>
              <a href="recipe_ingredients.html" class="button">Read more</a>
            </div>
          </article>
        </div>
      </main>

    <div class="footer">
        <div class="grid-1">
            <img src="../img/instagram.png" alt="instagram-icon">
            <img src="../img/facebook.png" alt="facebook-icon">
        </div>
        <div class="grid-2">
            <a href="terms-conditions.html">Terms & Conditions</a>
            <a class="privacy" href="privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="grid-3">
            <a href="cookie-policy.html">Cookie Policy</a>
            <a class="contact" href="contact.html">Contact</a>
        </div>
        <div class="grid-4">
            <img src="../img/copyright.png" alt="copyright-icon">
            <p>Baking Magazine 2021</p>
        </div>
    </div>
</body>
</html>