<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../recipe_ingredients.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="../frontpage.css">

</head>
<body>
  <div class="header">
    <a class="profile" href="private-profile.html"><img src="../img/image 1.png" alt="profile-image"></a>
    <a class="logo" href="index.html"><img src="../img/logo.png" alt="logo"></a>
    <div class="search-and-menu">
        <a class="search" href="search.html"><img src="../img/loupe.png" alt="loupe"></a>
        <a class="menu" href="recipe-list-cake.html"><img src="../img/close.png" alt="burger-menu"></a>
    </div>
</div>
  <main id="lasse">
    <section class="single-recipe">
      <div class="top-container">
        <div class="image">
          <img src="../img/cheery-cheese-big.jpg" alt="image of a cake" />
        </div>
        <div class="info-container">
          <div class="title-container">
            <div class="title">
              <h1>Cherry Cheesecake</h1>
            </div>
            <div class="review">
              <img src="../img/ratings.png" alt="review ratings image" />
              <span> 26 reviews </span>
            </div>
          </div>
          <div class="icon-button-container">
            <div class="icons"><img src="../img/time.png" alt="image" /><img src="../img/servings.png"
                alt="image of servings" /><img src="../img/difficulty.png" alt="image of difficulty" /></div>
            <button>Save Recipe</button>
          </div>
        </div>
        <div class="info-container-large">
          <h1>Cheery Cheesecake</h1>
          <div class="review">
            <img src="../img/ratings.png" alt="review ratings image" />
            <span> 26 reviews </span>
          </div>

          <div class="button-container">
            <button>Get Started!</button>
            <button>Save recipe</button>
          </div>
        </div>
      </div>

      <div class="middle-container">

 
        <div class="about-container">
          <div class="icons-large">
            <img src="../img/time.png" alt="time icon">
            <img src="../img/servings.png" alt="time icon">
            <img src="../img/difficulty.png" alt="time icon">
          </div>
          <h3>About the Bake</h2>
            <div class="labels">
              <span class="label">Vegan</span>

              <span class="label">Reduced Sugar</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio illo aliquid quisquam
              necessitatibus itaque quam odit nam, perferendis ratione suscipit amet doloremque asperiores
              voluptatibus quaerat, ipsum velit fugiat. Maxime.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio illo aliquid quisquam
              necessitatibus itaque quam odit nam, perferendis ratione suscipit amet doloremque asperiores
              voluptatibus quaerat, ipsum velit fugiat. Maxime.</p>
            <h3>Bonus Tips! &dArr;</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio illo aliquid quisquam
              necessitatibus itaque quam odit nam, perferendis ratione suscipit amet doloremque asperiores
              voluptatibus quaerat, ipsum velit fugiat. Maxime.</p>

        </div>

        <div class="servings-module">
          <p>Servings</p>
          <div class="serving-up-down">
            <span>-</span>
            <p>
              6

            </p>
            <span>+</span>
          </div>

        </div>
      </div>
  
      <div class="ingredients-container">
        <div class="toggle-header">
          <a href="#" class="active">Ingredients</a>
          <a href="#">Steps</a>
          <a href="#">Tools</a>
        </div>

        <div class="ingredient-section">


          <div class="units">

            <div class="units-toggler">
              <span>Units</span>
              <div class="buttons">
                <span>Metric</span>
                <span>Imperial</span>
              </div>
            </div>

          </div>
          <div class="ingredient-list">

            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Base</h5>
                <p>225</p>
                <div class="">Unsalted Butter <span class="extra-info"></span></div>
                <p>170g</p>
                <div class="">Billing's Unrefined Golden Caster Sugar<span class="extra-info"></span></div>
                <p>340</p>
                <div class="">Porridge oats</div>
                <p>0.25 tsp</p>
                <div class="">Salt</div>
                <p>2 tbsp</p>
                <div class="">Golden syrup <span class="extra-info"></span></div>
                <p>1 tbsp</p>
                <div class="">Maple syrup <span class="extra-info"></span></div>
              </div>
            </div>
            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Caramel</h5>
                <p>175g</p>
                <div class="">Unsalted Butter <span class="extra-info"></span></div>
                <p>175g</p>
                <div class="">Billing's Unrefined Golden Caster Sugar<span class="extra-info"></span></div>
                <p>4 tbsp</p>
                <div class="">Golden syrup <span class="extra-info"></span></div>
                <p>397ml</p>
                <div class="">Condensed Milk <span class="extra-info"></span></div>
              </div>
            </div>

            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Topping</h5>
                <p>100g</p>
                <div class="">Dark Chocolate <span class="extra-info"></span></div>
                <p>200g</p>
                <div class="">Milk Chocolate<span class="extra-info"></span></div>
              </div>
            </div>

          </div>

        </div>


      </div>
        
      <div class="ingredients-container large">
        <div class="toggle-header">
          <a href="#" class="active">Ingredients</a>
          <a href="#">Steps</a>
          <a href="#">Tools</a>
        </div>

        <div class="ingredient-section">


          <div class="units">

            <div class="units-toggler">
              <span>Units</span>
              <div class="buttons">
                <span>Metric</span>
                <span>Imperial</span>
              </div>
            </div>

          </div>
          <div class="ingredient-list">

            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Base</h5>
                <p>225</p>
                <div class="">Unsalted Butter <span class="extra-info"></span></div>
                <p>170g</p>
                <div class="">Billing's Unrefined Golden Caster Sugar<span class="extra-info"></span></div>
                <p>340</p>
                <div class="">Porridge oats</div>
                <p>0.25 tsp</p>
                <div class="">Salt</div>
                <p>2 tbsp</p>
                <div class="">Golden syrup <span class="extra-info"></span></div>
                <p>1 tbsp</p>
                <div class="">Maple syrup <span class="extra-info"></span></div>
              </div>
            </div>
            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Caramel</h5>
                <p>175g</p>
                <div class="">Unsalted Butter <span class="extra-info"></span></div>
                <p>175g</p>
                <div class="">Billing's Unrefined Golden Caster Sugar<span class="extra-info"></span></div>
                <p>4 tbsp</p>
                <div class="">Golden syrup <span class="extra-info"></span></div>
                <p>397ml</p>
                <div class="">Condensed Milk <span class="extra-info"></span></div>
              </div>
            </div>

            <div class="list-section">
              <div class="list-section-single">
                <p></p>
                <h5>For the Topping</h5>
                <p>100g</p>
                <div class="">Dark Chocolate <span class="extra-info"></span></div>
                <p>200g</p>
                <div class="">Milk Chocolate<span class="extra-info"></span></div>
              </div>
            </div>

          </div>
          <div class="tools-list">

  

    
        <div class="tools-container">
          <div class="list">
            <span><i class="fas fa-cloud-meatball"></i></span>  <p> Saucing pan</p>
          </div>
          <div class="list">
            <span><i class="fas fa-cloud-meatball"></i></span>  <p> Saucing pan</p>
          </div>
          <div class="list">
            <span><i class="fas fa-cloud-meatball"></i></span>  <p> Saucing pan</p>
          </div>
          <div class="list">
            <span><i class="fas fa-cloud-meatball"></i></span>  <p> Saucing pan</p>
          </div>
          <div class="list">
            <span><i class="fas fa-cloud-meatball"></i></span>  <p> Saucing pan</p>
          </div>
        </div>
          





          </div>

        </div>


      </div>
      <div class="review-container">
<div class="reviews">


        <div class="review-header">
          <h5>Reviews (33)</h5>
          <h6><span class="icon"> <img src="../img/instagram.png" alt=""></span>21 people have this saved</h6>
        </div>
        <div class="single-review">
          <div class="left-container">

           
              <img src="../img/cookies-2.png" alt="image of person">
        
            <p class="name">@SeriousBaker2019</p>
          </div>

          <div class="right-container">
            <div class="rating"><img src="../img/ratings.png" alt="rating">
              <p class="date">30. August - 2020</p>
            </div>

            <div class="comment-container">
              <div class="comment">

                <p>
                  OMFG THIS WAS DELICIOUS  
                </p>
                
                <p> I made this easily, and normally i'm not very good at baking! 
                  Definitely keeping this for later!!!</p>
                </div>
                <div class="comment-image">
                  
                </div>
            </div>
          </div>
        </div>
        
        <div class="single-review">
          <div class="left-container">

       
              <img src="../img/cookies-2.png" alt="image of person">
  
            <p class="name">@SeriousBaker2019</p>
          </div>

          <div class="right-container">
            <div class="rating"><img src="../img/ratings.png" alt="rating">
              <p class="date">30. August - 2020</p>
            </div>

            <div class="comment-container">
              <div class="comment">

                <p>
                  These are so easy to make and yes the caramel does take a while to colour and thicken, but it’s well worth the wait. </p>
                </div>
               
            </div>
          </div>
        </div>
     

      <div class="more-reviews">
        <p>Load more reviews</p>
        <span>	&dArr; </span>
      </div>
    </div>
 
      <div class="add-review-container">
        <div class="headline">
          <h4>
            Have a slice to add?
          </h4>
          <h4>
            We'd love to hear it!
          </h4>
        </div>
        <div class="add-text-container">
          <h6>How would you rate this recipe?</h6>
          <img src="../img/ratings.png" alt="">
          <p>Tell your fellow bakers what you think of this recipe...</p>
          <textarea name="texttime" id="review-text" cols="30" rows="10"></textarea>
          <button>Submit review</button>
        </div>
      </div>
    </div>
    </section>
  </main>

  <div class="footer">
    <div class="grid-1">
        <img src="../img/instagram.png" alt="instagram-icon">
        <img src="../img/facebook.png" alt="facebook-icon">
    </div>
    <div class="grid-2">
        <a href="terms-conditions.html">Terms & Conditions</a>
        <a class="privacy" href="privacy-policy.html">Privacy Policy</a>
    </div>
    <div class="grid-3">
        <a href="cookie-policy.html">Cookie Policy</a>
        <a class="contact" href="contact.html">Contact</a>
    </div>
    <div class="grid-4">
        <img src="../img/copyright.png" alt="copyright-icon">
        <p>Baking Magazine 2021</p>
    </div>
</div>
</body>

</html>