<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="../saved-notification.css" />
    <title>Saved Notification</title>
  </head>
  <body id="saved-notification">
    <div class="notification">
      <img src="../img/notification-check.svg" alt="Notification check" />
      <p>Saved on Sunday Baking</p>
      <a href="/">Undo</a>
    </div>
  </body>
</html>
