<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="../save-to-cookbook.css" />
    <title>Save to cookbook</title>
  </head>
  <body>
      <main id="save-to-cookbook">
    <div class="top-section">
      <div>
        <a id="btn-arrow-back" href="index.html"
          ><img src="../img/arrow.svg" alt="Arrow to go back"
        /></a>
      </div>
      <div id="save-recipe-text">
        <img src="../img/chef.svg" alt="cookbook icon" />
        Save Recipe
      </div>
    </div>
    <section class="all-cookbooks">
      <h4>All CookBooks</h4>
      <div class="cookbook">
        <div class="image-placeholder"></div>
        <div class="cookbook-name">
          <h3>Sunday Baking</h3>
          <p>0 items</p>
        </div>
      </div>
    </section>
    <div class="create-new-cookbook">
      <img src="../img/add-cookbook.svg" alt="plus icon" />
      <p>Create a new CookBook</p>
    </div>
</main>
  </body>
</html>
