<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="../signup-user.css" />
    <title>Signup User</title>
  </head>
  <body>
    <main id="signup-user">
      <div id="grid">
        <div id="first-section">
          <img src="../img/arrow-back.svg" alt="arrow back" class="back" />

          <div id="main-first-section">
            <h2>Sign up</h2>
            <form action="">
              <input type="email" name="email" placeholder="Email" />
              <input type="text" name="name" placeholder="Name" />
              <input type="password" name="password" placeholder="Password" />
              <button>Sign up</button>
            </form>
            <div id="social-media">
              <p>Or sign up using</p>
              <div id="images">
                <img src="../img/signup-google.svg" alt="sign up with google" />
                <img
                  src="../img/signup-twitter.svg"
                  alt="sign up with twitter"
                />
                <img
                  src="../img/signup-facebook.svg"
                  alt="sign up with facebook"
                />
              </div>
            </div>
            <p id="registered">
              Already registered? <span id="login">Log in</span>
            </p>
          </div>
        </div>
        <div id="second-section"></div>
      </div>
    </main>
  </body>
</html>
